body{
    margin: 0;
    padding: 0;
}

#board{
background-color: white;
height: 800px;
width: 1200px;
margin: 0 auto;
position: relative;
overflow: hidden;
}

#player{
    background-size: cover;
    background-position: center;
    position: absolute;
    display: inline-block; /* Ensures the container takes the size of its content */
    transform: rotate(-40deg);
}

.obstacle{
    background-color: black;
    position: absolute;
}

.prize{
    background-color: gold;
    position: absolute;
}

#score{
    border: 2px solid red;
    border-style: dashed;
    position: absolute;
}

.score-text{
font-size: 20px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
text-align: center;
margin: 0 auto;
}